
@font-face {
    font-family: 'Maghody';
    src: url("../Assets/Fonts/maghody/Maghody.woff2") format('woff2');
    /* Add additional font properties if needed */
  }

.visualizations {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 30vh;
    grid-template-columns: 4fr 1fr 4fr; /* Adjust column widths as needed */
    grid-gap: 20px; /* Adjust the gap between grid items */
    min-height: 100%;
    min-width: 100%;
    grid-template-areas:
      "piechart globe globe"
      "table-data table-data scatterplot";
    justify-content: space-evenly;
    border-left: 4px dashed black;
}


.text-field{
    width: 50%;
    padding: auto 0;
}
.pie-chart-container{
    grid-area: piechart;
    background-color: rgb(244, 243, 243);
    display: flex;
    flex-direction: column;

}


.chart-descriptors{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    

}

.chart-descriptors-scatter{
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    

}
.scatterplot-container{
    grid-area: scatterplot;
    background-color: rgb(244, 243, 243);
    display: flex;
    flex-direction: row; /* Arrange items in a row (horizontal) */
    justify-content: space-between; /* Space items evenly along the main axis */
    align-items: center;
}
.globe-container{
    background: url("../Assets/img/NightSky.png");
    border: 10px ridge rgb(40, 40, 40);
    grid-area: globe;
}
.data-table{
    grid-area: table-data;
    background-color: rgb(244, 243, 243);
    overflow: auto;
}


.pie-chart {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}

.scatterplot {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}

.globe {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}
